// Normally mainpage styles
.out
	background: url(../img/bg.jpg) repeat
	padding: 0 20px
.wrapper
	max-width: 1600px
	height: 7892px
	background-color: white
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.24)
	margin: auto
	padding-top: 100px
	// +r(1656)
	// 	padding-top: 142px
.header
	height: 100px
	line-height: 100px
	background-color: $green
	position: fixed
	top: 0
	left: 20px
	right: 20px
	margin: auto
	max-width: 1600px
	z-index: 999
	.header__tel
		position: absolute
		top: 16px
		right: 42px
	.btn-callback
		position: absolute
		z-index: 100
		top: 100%
		transform: translateY(-50%)
		right: 27px
	.header__logo
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 35px
.header__nav
	font-size: 0
	display: inline-block
	overflow: hidden
	margin: 0 350px 0 246px
	+r(1660)
		margin: 0 320px 0 250px
	li
		display: inline-block
		padding: 0 12px
	a
		color: black
		font-family: "Open Sans", sans-serif
		font-size: 18px
		font-weight: 600
		text-transform: uppercase
		display: inline-block
		position: relative
		z-index: 5
		line-height: 2.388888888888889em //43px / 18px
		height: 2.388888888888889em //43px / 18px
		+r(1660)
			font-size: 12px
		&:before
			content: ' '
			display: block
			height: 100%
			position: absolute
			z-index: -1
			background-color: #ffdd00
			left: 1.2222222222222223em// 22px / 18px
			right: 1.2222222222222223em// 22px / 18px
			display: none
		&:hover
			.nav__left, .nav__right, &:before
				display: block
				background-size: contain
		.nav__left, .nav__right
			position: absolute
			top: 50%
			margin-top: -1.4444444444444444em // 26px / 18px
			height: 2.888888888888889em // 52px / 18px
			background: url(../img/nav__left.png) no-repeat 
			left: -2.4444444444444446em // 44px / 18px
			margin-left: 1.3333333333333333em// 24px / 18px
			width: 2.4444444444444446em // 44px / 18px
			display: none
			z-index: -1
		.nav__right
			left: auto
			right: -2.4444444444444446em // 44px / 18px
			margin-right: 1.2222222222222223em // 22px / 18px
			background: url(../img/nav__right.png) no-repeat
.header__logo_big
	position: absolute
	width: 252px
	height: 252px
	background-color: $green
	left: 3px
	top: -57px
	border-radius: 50%
	z-index: 100
	text-align: center
	.logo
		font-size: 132px
		margin-top: 67px
		position: absolute
		left: 0
		right: 0
		margin: 33px auto 0
		top: 50%
		transform: translateY(-50%)
.logo
	font-size: 73px
	color: white
	display: inline-block
.tel
	color: white
	font-family: "Open Sans", sans-serif
	font-size: 36px
	font-weight: 600
	text-transform: uppercase
	line-height: 1.2
.top
	height: calc(100vh - 100px) // Предусм. лучший вариант
	background: url(../img/town.jpg) no-repeat center
	padding-top: 31px
	position: relative
	text-align: center
	.top__in
		padding: 0 30px
	.top__title
		left: 0
		right: 0
		margin: auto
		top: 33px
		+hide-text
		
	.btn-more
		display: inline-block
		position: absolute
		bottom: 98px
		left: 0
		right: 0
		margin: auto
.odds
	position: relative
	color: #000
	text-align: center
	font-size: 0
	.odds__in
		padding: 50px 0 20px
	.odds__title
		font-size: 48px
		text-transform: uppercase
		margin-bottom: 35px
		+cult
		color: $magenta
	.odds__item
		display: inline-block
		width: 33.333%
		vertical-align: top
		padding: 0 20px
		margin-bottom: 5px
	.odds__pic
		height: 200px
		margin-bottom: 39px
		+vertical
		i
			vertical-align: middle
	.odds__name
		+cult
		font-size: 30px
		color: #3e3e3e
		margin-bottom: 20px
	.odds__text
		font: 600 18px "Open Sans", sans-serif
		max-width: 430px
		margin: auto
.footer
	background-color: #4a4a4a
	font-size: 0
	.footer__in
		padding: 46px 0 80px
		max-width: 800px
		margin: auto
	.footer__col
		width: 33.3%
		display: inline-block
		vertical-align: top
		&.footer__col_centr
			text-align: center
		&.footer__col_right
			text-align: right
	.footer__title
		+cult
		font-size: 48px
		color: #fff
		text-align: center
		text-transform: uppercase
		margin-bottom: 50px
	.footer__list
		text-align: left
		display: inline-block
		li
			min-height: 42px
			position: relative
			&:not(:last-child)
				margin-bottom: 27px
			[type="file"]
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				display: block
				opacity: 0
				cursor: pointer
		a
			text-decoration: underline
			font: 400 18px "Open Sans", sans-serif
			color: #fff
			padding: 0 0 0 55px
			background: url(../img/jpg.png) no-repeat left
			position: relative
			display: inline-block
			&:hover
				text-decoration: none
