// Normally mainpage styles
.out
	background: url(../img/bg.jpg) repeat
	padding: 0 20px
	+r(900)
		padding: 0
.wrapper
	max-width: 1600px
	height: 7892px
	background-color: white
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.24)
	margin: auto
	padding-top: 100px
.header
	height: 100px
	line-height: 100px
	background-color: $green
	position: fixed
	top: 0
	left: 20px
	right: 20px
	margin: auto
	max-width: 1600px
	z-index: 999
	+r(900)
		left: 0
		right: 0
	+rh(500)
		position: absolute
	.header__tel
		position: absolute
		top: 16px
		right: 42px
		+r(1365)
			top: 0
			right: 112px
		+r(1200)
			top: 5px
			right: 103px
			.tel
				font-size: 30px
		+r(900)
			top: 10px
			.tel
				font-size: 24px
		+r(768)
			top: 14px
			right: 83px
			.tel
				font-size: 18px
		+r(500)
			right: 68px
			top: 19px
			.tel
				font-size: 14px
	.btn-callback
		position: absolute
		z-index: 100
		top: 100%
		transform: translateY(-50%)
		right: 27px
		+r(1365)
			top: 44px
			transform: translateY(0)
			height: 50px
			right: 100px
		+r(1200)
			font-size: 16px
			span
				padding-right: 0
			i
				margin-right: 0
		+r(900)
			font-size: 14px
		+r(768)
			font-size: 12px
			height: 40px
			right: 80px
			i
				display: none
		+r(500)
			font-size: 10px
			padding: 0 6px
			right: 65px
	.header__logo
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 35px
		line-height: 1
		+r(1147)
			left: 20px
		+r(500)
			.logo
				font-size: 60px
	.header__logo_big
		+rm(1365)
			width: 252px
			height: 252px
			background-color: $green
			left: 3px
			top: -57px
			border-radius: 50%
			z-index: 110
			text-align: center
			transform: translateY(0)
			.logo
				font-size: 132px
				margin-top: 67px
				position: absolute
				left: 0
				right: 0
				margin: 33px auto 0
				top: 50%
				transform: translateY(-50%)
.header__nav
	font-size: 0
	display: inline-block
	overflow: hidden
	margin: 0 350px 0 246px
	white-space: nowrap
	+r(1660)
		margin: 0 320px 0 250px
	+r(1365)
		display: none
	li
		display: inline-block
		padding: 0 12px
	a
		color: black
		font-family: "Open Sans", sans-serif
		font-size: 18px
		font-weight: 600
		text-transform: uppercase
		display: inline-block
		position: relative
		z-index: 5
		line-height: 2.388888888888889em //43px / 18px
		height: 2.388888888888889em //43px / 18px
		+r(1660)
			font-size: 12px
		&:before
			content: ' '
			display: block
			height: 100%
			position: absolute
			z-index: -1
			background-color: #ffdd00
			left: 1.2222222222222223em// 22px / 18px
			right: 1.2222222222222223em// 22px / 18px
			display: none
		&:hover
			.nav__left, .nav__right, &:before
				display: block
				background-size: contain
		.nav__left, .nav__right
			position: absolute
			top: 50%
			margin-top: -1.4444444444444444em // 26px / 18px
			height: 2.888888888888889em // 52px / 18px
			background: url(../img/nav__left.png) no-repeat 
			left: -2.4444444444444446em // 44px / 18px
			margin-left: 1.3333333333333333em// 24px / 18px
			width: 2.4444444444444446em // 44px / 18px
			display: none
			z-index: -1
		.nav__right
			left: auto
			right: -2.4444444444444446em // 44px / 18px
			margin-right: 1.2222222222222223em // 22px / 18px
			background: url(../img/nav__right.png) no-repeat
.header__nav-mob
	position: absolute
	top: 100%
	z-index: 100
	left: 0
	right: 0
	display: none
	&.is-visible
		display: block
	li
		display: block
		padding: 4px 10px
		text-align: center
		border-bottom: 1px solid #ccc
		background-color: #fff
		+tr(all .3s)
		&:focus, &:hover
			background-color: #CEE0F7
		a
			display: block
			color: black
			font-family: "Open Sans", sans-serif
			font-size: 18px
			font-weight: 600
			text-transform: uppercase
			line-height: 1.2
.humb
	display: none
	position: relative
	float: right
	width: 30px
	margin: 37px 35px
	padding: 11px 0
	background: none
	+r(1365)
		display: block
	+r(768)
		margin-left: 20px
		margin-right: 20px
	+r(500)
		margin-left: 10px
		margin-right: 15px
	span
		display: block
		height: 4px
		background: #fff
		+tr(opacity 0.2s)
	&:before, &:after 
		content: ""
		position: absolute
		left: 0
		right: 0
		height: 4px
		background: #fff
		+tr(transform 0.3s)
		will-change: transform
	&:before
		top: 0
	&:after
		bottom: 0
	
.logo
	font-size: 73px
	color: white
	display: inline-block
.tel
	color: white
	font-family: "Open Sans", sans-serif
	font-size: 36px
	font-weight: 600
	text-transform: uppercase
	line-height: 1.2
	&.tel_black
		color: #4a4a4a
.top
	height: calc(100vh - 100px) 
	min-height: 500px
	background: url(../img/town.jpg) no-repeat center
	padding-top: 31px
	position: relative
	text-align: center
	.top__in
		padding: 0 30px
	.top__title
		left: 0
		right: 0
		margin: auto
		top: 33px
		position: absolute
		+hide-text
		
	.btn-more
		display: inline-block
		position: absolute
		bottom: 98px
		left: 0
		right: 0
		margin: auto
		+r(1024)
			height: 50px
			width: 210px
		+r(768)
			height: 40px
			width: 190px
			font-size: 16px
		+r(500)
			width: 175px
			font-size: 14px
.complex
	position: relative
	background-color: $green
	.complex__in
		max-width: 1090px
		margin: auto
		padding: 52px 20px 60px
		font-size: 0
	.title
		margin-bottom: 15px
	[class^="col"], [class*="col"]
		display: inline-block
		vertical-align: top
	.col1 
		width: 67%
		padding-right: 20px
		+r(768)
			width: 100% 
	.col2
		width: 33%
		+r(768)
			display: none 

	p
		font: 600 18px/24px "Open Sans", sans-serif
		color: #fff
		margin-bottom: 22px
		+r(600)
			font-size: 16px
			margin-bottom: 15px
		&:last-child
			margin-bottom: 0
.odds
	position: relative
	color: #000
	text-align: center
	font-size: 0
	.odds__wrp
		+r(600)
			margin: 0 -20px
	.odds__in
		padding: 50px 20px 20px
	.title
		margin-bottom: 35px
	.odds__item
		display: inline-block
		width: 33.333%
		vertical-align: top
		padding: 0 20px
		margin-bottom: 15px
		+r(1024)
			width: 50%
		+r(640)
			width: 100%
			margin-bottom: 25px
	.odds__pic
		height: 200px
		margin-bottom: 39px
		+vertical
		+r(600)
			height: auto
			margin-bottom: 20px
		i
			vertical-align: middle
	.odds__name
		+cult
		font-size: 30px
		color: $black
		margin-bottom: 20px
		text-transform: uppercase
		line-height: 1
		+r(1024)
			font-size: 26px
		+r(600)
			font-size: 22px
			margin-bottom: 10px
	.odds__text
		font: 600 18px "Open Sans", sans-serif
		max-width: 430px
		margin: auto
		color: $black
		line-height: 1.45
		+r(600)
			font-size: 16px
.layout
	min-height: 700px
	background-color: $green
	.layout__in
		padding: 42px 0 56px
		margin: auto
		max-width: 1118px
	.title
		margin-bottom: 28px
.tabs
	position: relative
	.arrow-left
		top: 50%
		left: -110px
		position: absolute
		transform: translateY(-50%)
		+r(1400)
			left: -80px
		+r(1350)
			display: none
	.arrow-right
		top: 50%
		right: -110px
		position: absolute
		transform: translateY(-50%)
		+r(1400)
			right: -80px
		+r(1350)
			display: none
	.tabs__controls
		border-bottom: 2px solid #a1185b
		font-size: 0
		text-align: center
		margin-bottom: 40px
		+r(1228)
			margin: 0 0 40px
	.tabs__controls-item
		display: inline-block
		border-top-left-radius: 48px
		border-top-right-radius: 48px
		cursor: pointer
		background: #c9e08f
		+tr(all .3s)
		+r(950)
			border-radius: 0
			width: 100%
		&.is-active
			background: #a1185b
			.tabs__control-link
				color: #fff
	.tabs__control-link
		color: #a1185b
		text-decoration: none
		display: block
		text-align: center
		padding: 15px 34px
		font: 600 18px/1 "Open Sans", sans-serif
		+tr(all .3s)
	.tabs__list
		margin: 0 -25px
		+r(1228)
			margin-left: 0
			margin-right: 0
	.tabs__item
		list-style: none outside none
		display: none
		font-size: 0
		&.is-active
			display: block
.room
	display: inline-block
	vertical-align: top
	width: 33.3333%
	margin-bottom: 30px
	padding: 0 25px
	+r(768)
		padding: 0 10px
		width: 50%
	+r(400)
		width: 100%
		padding: 0 20px
	figcaption
		margin-top: 33px
	.room__pic
		position: relative
		.room__link
			position: absolute
			right: 1.8888888888888888em // 34px / 18px
			top: 100%
			margin-top: -1em
		img
			display: inline-block
			width: 100%
			max-width: none
	.room__name
		color: white
		font: 400 24px/1 "Open Sans", sans-serif 
		text-transform: uppercase
		+r(1024)
			font-size: 20px
		+r(768)
			font-size: 18px
	.room__sub
		color: #a1185b
		font: 700 24px/1 "Open Sans", sans-serif 
		+r(1024)
			font-size: 20px
		+r(768)
			font-size: 18px
		sup
			vertical-align: top
	.room__link
		color: white
		font: 600 18px "Open Sans", sans-serif 
		text-align: center
		position: relative
		display: inline-block
		z-index: 1
		height: 2em //36px / 18px
		line-height: 2em //36px / 18px
		&:hover
			.room__link-bg
				&:before
					background: url(../img/room_link-l-hov.png) no-repeat
					background-size: contain !important
				&:after
					background: url(../img/room_link-r-hov.png) no-repeat
					background-size: contain !important
		+r(1024)
			font-size: 16px
	.room__link-bg
		position: absolute
		display: block
		z-index: -1
		width: 100%
		height: 100%
		top: 0
		&:before, &:after
			content: ' '
			display: block
			width: 4.777777777777778em // 86px / 18px
			height: 2.388888888888889em // 43px / 18px
			position: absolute
			left: -1.8888888888888888em // 34px / 18px
			top: -0.16666666666666666em // -3px / 18px
			background: url(../img/room_link-l.png) no-repeat
			background-size: contain
		&:after
			left: auto
			right: -1.8888888888888888em // 34px / 18px
			background: url(../img/room_link-r.png) no-repeat
			background-size: contain

.items
	position: relative
	font-size: 0
	.item
		display: inline-block
		vertical-align: top
		height: 300px
		width: 50%
		text-align: center
		position: relative
		+r(1365)
			width: 100%
		+r(768)
			height: 250px
		+r(600)
			height: 200px
		.item__link
			width: 648px
			height: 192px
			margin: auto
			background-size: contain !important
			display: block
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			z-index: 1
			+r(768)
				width: 70%
				height: 100px
				padding: 20px
			+r(600)
				width: 80%
			+r(500)
				width: 90%
				height: 90px
	.item_left
		background: url(../img/item-left.jpg) no-repeat center
		background-size: cover
		.item__link
			background: url(../img/item__link-left.png) no-repeat
			+r(768)
				background: #009BDD
			&:hover
				background: url(../img/item__link-left-h.png) no-repeat
				+r(768)
					background: #F28F1D
	.item_right
		background: url(../img/item-right.jpg) no-repeat center
		background-size: cover
		.item__link
			background: url(../img/item__link-right.png) no-repeat
			+r(768)
				background: #009BDD
			&:hover
				background: url(../img/item__link-right-h.png) no-repeat
				+r(768)
					background: #F28F1D
	.title
		line-height: 1
		margin: 55px 0 7px
		+r(768)
			margin: 0 auto 5px
		+r(500)
			font-size: 24px
	span
		font: 400 24px "Open Sans", sans-serif
		color: #fff
		line-height: 1
		+r(768)
			font-size: 22px
		+r(600)
			font-size: 20px
		+r(500)
			font-size: 16px

.about
	background-color: #FFF
	min-height: 560px
	text-align: center
	.about__in
		position: relative
		max-width: 860px
		padding: 50px 20px 
		margin: auto
		+clr
	.about__container
		border-bottom: 2px solid #c9c9c9
	.title
		margin-bottom: 32px
	.col1
		float: left
		width: 253px
		text-align: left
		+r(640)
			float: none
			width: 100%
			margin-bottom: 15px
			text-align: center
	.col2
		overflow: hidden
	p
		margin-bottom: 24px
		color: $black
		font: 400 18px/24px "Open Sans", sans-serif
		text-align: left
		+r(600)
			font-size: 16px
	.about__link
		margin-top: 27px
		+r(480)
			font-size: 1.1em
.about__link
	position: relative
	font: 700 1.5em "Open Sans", sans-serif
	color: #fff
	text-decoration: none
	z-index: 1
	text-transform: uppercase
	display: inline-block
	height: 36px
	line-height: 36px
	.about__bg
		position: absolute
		z-index: -1
		background-color: #d7be68
		top: 0
		width: 100%
		height: 100%
		&:before, &:after
			content: ' '
			display: inline-block
			position: absolute
			background: url(../img/about__left.png) no-repeat left
			height: 43px
			width: 86px
			background-size: contain
			left: -39px
			top: -3px
		&:after
			background: url(../img/about__right.png) no-repeat left
			left: auto
			right: -39px
.transfer
	position: relative
	background-color: $blue
	text-align: center
	.transfer__in 
		padding: 96px 20px 92px
		max-width: 1120px
		margin: auto
		+r(960)
			padding: 60px 20px 60px
		+r(600)
			padding: 40px 20px 40px
	.title
		margin-bottom: 32px
		position: relative
		i
			position: absolute
			right: 0
			top: -44px
			+r(960)
				display: none
	.transfer__container
		font-size: 0
		clear: both
		+r(1024)
			margin: 0 -20px
	[class^="col"], [class*="col"]
		display: inline-block
		vertical-align: top
		width: 50%
		padding: 0 20px
		margin-bottom: 28px
		text-align: left
		+r(680)
			width: 100%
	p
		font: 600 18px "Open Sans", sans-serif
		color: #fff
		+r(600)
			font-size: 16px
.transfer__link
	color: #039edf
	font: 600 1.5em "Open Sans", sans-serif
	text-transform: uppercase
	display: inline-block
	height: 2em // 36px / 18px
	line-height: 2em // 36px / 18px
	position: relative
	z-index: 1
	&:hover
		.transfer__bg
			background-color: #f7921e
			&:before
				background: url(../img/transfer__left-h.png) no-repeat
				background-size: contain
			&:after
				background: url(../img/transfer__right-h.png) no-repeat
				background-size: contain
	.transfer__bg
		position: absolute
		display: block
		z-index: -1
		width: 100%
		height: 100%
		background-color: #f9d800
		top: 0
		&:before, &:after
			content: ' '
			display: block
			width: 4.777777777777778em //86px / 18px
			height: 2.388888888888889em // 43px / 18px
			position: absolute
			right: 99%
			top: -0.16666666666666666em // -3px / 18px
			background: url(../img/transfer__left.png) no-repeat
			background-size: contain
		&:after
			left: 100%
			right: auto
			background: url(../img/transfer__right.png) no-repeat
			background-size: contain
.bottom
	position: relative
	background-color: #efefef
	.bottom__in
		max-width: 1040px
		margin: auto
		padding: 70px 20px 46px
		font-size: 0
		+r(600)
			padding: 40px 20px
	.bottom__pic
		text-align: center
		margin: 62px 0 75px
		+r(930)
			margin: 30px 0
	.title_orange
		margin-bottom: 36px
		+r(900)
			margin-bottom: 15px
	.title_black
		margin-bottom: 48px
		+r(600)
			margin-bottom: 20px
	.tel
		text-align: center
		line-height: 1
	[class^="col"], [class*="col"]
		display: inline-block
		vertical-align: top
		margin-bottom: 60px
		+r(600)
			margin-bottom: 40px
	.col1
		width: 40%
		padding-right: 4%
		+r(900)
			width: 100%
	.col2
		width: 60%
		+r(900)
			width: 100%

	.run
		font-size: 0
		[class*="run__col"]
			width: 50%
			padding-right: 48px
			margin-bottom: 0
			+r(900)
				padding-right: 0
				width: 100%
				margin-bottom: 20px
		p
			color: #646464
			font: 600 18px "Open Sans", sans-serif
			+r(600)
				font-size: 16px
		em
			color: #f7921e
			font: 600 24px "Open Sans", sans-serif
			margin-bottom: 28px
			display: block
			+r(900)
				margin-bottom: 10px
			+r(600)
				font-size: 20px
		.run__time
			color: #3e3e3e
			font: 700 18px/1 "Open Sans", sans-serif
			margin-top: 5px
			&.run__time_space
				margin-top: 28px

	address
		color: #636363
		font: normal 24px/36px "Open Sans", sans-serif
		+r(900)
			max-width: 400px
			text-align: left
			margin: auto
		+r(600)
			font-size: 20px
.send-form
	width: 100%
	max-width: 597px
	margin: auto
	background-color: white
	position: relative
	padding: 29px 32px 34px
	+clr
	+r(500)
		padding: 25px 20px
	.send-form__header
		color: #3e3e3e
		font: 600 30px/30px "Open Sans", sans-serif
		margin-bottom: 27px
		+r(600)
			font-size: 24px
			margin-bottom: 20px
	.send-form__row
		margin-bottom: 11px
	label
		display: block
		color: #3e3e3e
		font: 400 18px/1 "Open Sans", sans-serif
		margin-bottom: 9px
.send-form__btn
	padding: 8px 75px
	background-color: #ee8f01
	font: 400 18px "Open Sans", sans-serif
	text-transform: uppercase
	color: #fff
	position: relative
	+tr(all .3s)
	float: right
	+r(900)
		width: 100%
		float: none
	&:hover
		background-color: darken(#ee8f01, 5%)
	&:active
		background-color: #ED001A
.footer
	background-color: #4a4a4a
	font-size: 0
	.footer__in
		padding: 46px 20px 80px
		max-width: 840px
		margin: auto
	.footer__col
		width: 33.3%
		display: inline-block
		vertical-align: top
		+r(768)
			width: 50%
			margin-bottom: 30px
		+r(560)
			width: 100%
		&.footer__col_centr
			text-align: center
			+r(560)
				text-align: left
		&.footer__col_right
			text-align: right
			+r(768)
				text-align: left
	.title
		margin-bottom: 50px
	.footer__list
		text-align: left
		display: inline-block
		li
			min-height: 42px
			position: relative
			&:not(:last-child)
				margin-bottom: 27px
			[type="file"]
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				display: block
				opacity: 0
				cursor: pointer
		a
			text-decoration: underline
			font: 400 18px "Open Sans", sans-serif
			color: #fff
			padding: 0 0 0 55px
			background: url(../img/jpg.png) no-repeat left
			position: relative
			display: inline-block
			&:hover
				text-decoration: none
.popup
	top: 0
	bottom: 0
	right: 0
	left: 0
	position: fixed
	background-color: rgba(0, 100, 39, 0.8)
	z-index: 999
	display: none
	overflow: auto
	&.is-active
		display: block
	.popup__block
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
		position: absolute
		max-width: 886px
		height: 398px
		background-color: white
		z-index: 9999999
		+r(960)
			max-width: none
			width: 95%
			min-width: 380px
	.popup__container
		font-size: 0
		margin: auto 
		max-width: 768px
		padding: 69px 20px 57px
	[class*="col"], [class^="col"]
		display: inline-block
		vertical-align: middle
	.popup__col2
		width: 73%
		+r(650)
			width: 100%
	.popup__col1
		width: 27%
		+r(650)
			display: none
	.icon-logo
		color: #009d3d
		font-size: 137px
	.btn-close
		position: absolute
		top: 37px
		right: 40px
	.send-form
		max-width: none
		padding: 0
		label
			font-size: 16px
			font-style: italic
	.send-form__header
		font-size: 24px
		text-transform: uppercase
		margin-bottom: 25px
	.send-form__btn
		margin-top: 24px
		font-size: 16px
		padding: 9px 81px
